@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&family=Libertinus+Sans:ital,wght@0,400;0,700;1,400&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

html{
    font-family: "Rubik", sans-serif;
}

body {
    padding: 10vw 25vw;
    background-color: rgb(167, 115, 251);
    margin: auto;
    color: rgb(41, 14, 85);
}

section {
    background-color: white;
    padding: 5vh;
    border-radius: 5vw;
    box-shadow: 0px 0px 40px 0px rgba(41, 14, 85, 0.3);
    text-align: center;
}

h1 {
    font-size: 4vw;
    font-weight: 800;
    margin: 0vw 2vw 2vw 2vw;
}

h2 {
    font-size: 2.5vw;
    font-weight: 500;
    margin: 2vw;
}

h5 {
    font-weight: 200;
    font-size: 2vh;

}

p {
    font-size: 2vw;
    font-weight: 300;
}

.complaint {
    text-decoration: none;
    font-family: "Rubik", sans-serif;
    font-size: 2.5vw;
    font-weight: 700;
    padding: 1vh 2vw;
    background-color: rgb(41, 14, 85);
    color: white;
    border-radius: 100px;
}

.complaint:hover {
    background-color: rgb(167, 115, 251);
}

label {
    font-size: 2.5vw;
    font-weight: 300;
    margin: 10px 0px;
}

select{
    font-family: "Rubik", sans-serif;
    text-align: center;
    color: rgb(41, 14, 85);
    font-size: 2.5vw;
    font-weight: 700;
    width: 100%;
}

.textComp{
    width: 100%;
    box-sizing: border-box;
    font-family: "Rubik", sans-serif;
    color: rgb(41, 14, 85);
    font-size: 2.5vw;
    height: 20vh;
    resize: vertical;
    border-radius: 5vh;
    padding: 10px;
    direction: rtl;
}

input {
    font-size: 2.5vw;
    font-weight: 700;
    width: 100%;
    border-radius: 20px;
}

.send{
    font-family: "Rubik", sans-serif;
    border-radius: 100px;
    font-size: 2.5vw;
    font-weight: 700;
    padding: 2vw;
    background-color: rgb(41, 14, 85);
    color: white;
    border-radius: 100px;
}

.send:hover {
    background-color: rgb(167, 115, 251);
}