@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&family=Libertinus+Sans:ital,wght@0,400;0,700;1,400&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

html{
    font-family: "Rubik", sans-serif;
}

body {
    /* padding: 0% 10% 10% 10%; */
    margin: 0;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: rgb(131, 115, 251);
    color: rgb(25, 14, 85);
}

#menu {
    border-radius: 0px;
    background-color: rgba(255, 255, 255);
    margin: auto;
    margin-bottom: 50px;
}

.menu {
    padding: 0vw 2vw;
    text-decoration: none;
    font-size: 1.5vw;
}

.menu:hover {
    color: rgb(131, 115, 251);
}

section {
    margin-left: 10%;
    margin-right: 10%;
    background-color: white;
    padding: 5vh 5vw;
    border-radius: 5vw;
    box-shadow: 0px 0px 40px 0px rgba(33, 14, 85, 0.3);
    text-align: center;
}

h1 {
    font-size: 4vw;
    font-weight: 800;
    margin: 0vw 2vw 2vw 2vw;
}

h2 {
    font-size: 2.5vw;
    font-weight: 500;
    margin: 2vw;
}

h5 {
    font-size: 2vw;
    font-weight: 200;
}

a {
    color: rgb(25, 14, 85);
}

p {
    font-size: 2vw;
    font-weight: 300;
}

.complaint {
    text-decoration: none;
    font-family: "Rubik", sans-serif;
    font-size: 2.5vw;
    font-weight: 700;
    padding: 1vh 2vw;
    background-color: rgb(25, 14, 85);
    color: white;
    width: 100%;
    border-radius: 100px;
}

.complaint:hover {
    background-color: rgb(131, 115, 251);
}

label {
    font-size: 2.5vw;
    font-weight: 300;
    margin: 10px 0px;
}

select{
    font-family: "Rubik", sans-serif;
    text-align: center;
    color: rgb(25, 14, 85);
    font-size: 2.5vw;
    font-weight: 700;
    width: 100%;
}

#textComp{
    width: 100%;
    box-sizing: border-box;
    font-family: "Rubik", sans-serif;
    color: rgb(25, 14, 85);
    font-size: 2.5vw;
    height: 20vh;
    resize: vertical;
    border-radius: 5vh;
    padding: 10px;
    direction: rtl;
}

input {
    font-size: 2.5vw;
    font-weight: 700;
    width: 100%;
    border-radius: 20px;
}

.send{
    font-family: "Rubik", sans-serif;
    border-radius: 100px;
    font-size: 2.5vw;
    font-weight: 700;
    padding: 2vw;
    background-color: rgb(25, 14, 85);
    color: white;
    border-radius: 100px;
    width: auto;
}

.send:hover {
    background-color: rgb(131, 115, 251);
}